$radius: 0.75rem;

.card {
  border-radius: $radius;
  background-color: rgba(235, 248, 255, .04);
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  transition: all .3s ease;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    border: 1.5px solid #00b5cc;
    background: none;
    transform: translateY(-5px);

    .name_character {
      color: #b2df28;
    }
  }
}

.content {
  padding: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.success {
    background: rgb(85, 204, 68);
  }
}

// ---------------------------- CardDetails ------------------------------------

.card_details {
  background-color: rgba(235, 248, 255, .04);
  overflow: hidden;
  border-radius: $radius;
  border: 1.5px solid #00b5cc;
  margin-top: 2rem;
}

.img_card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details_title {
  color: #b2df28;
  font-weight: 600;
}

// ---------------------------- Skeleton ------------------------------------

.skeleton_img {
  width: 100% !important;
}

.skeleton_name {
  width: 75% !important;
}

.skeleton_status {
  width: 50% !important;
}

.skeleton_info {
  width: 60% !important;
}

@media (min-width: 768px) {
  .card_data {
    border-left: 1.5px solid #00b5cc;
  }

  .skeleton_img {
    width: 300px !important;
  }

  .skeleton_name {
    width: 300px !important;
  }

  .skeleton_status {
    width: 200px !important;
  }

  .skeleton_info {
    width: 100% !important;
  }
}